{% extends "two_option_menu.html" %}
{% block title %}Simulation{% endblock %}

<!-- Main color for simulation page: yellow -->
{% block head %}
{{ super() }}
<script id="tailwind-config">
    tailwind.config = {
        darkMode: "class",
        theme: {
            extend: {
                colors: {
                    "primary": "#FAC638",
                    "background-light": "#f6f6f8",
                    "background-dark": "#101322",
                },
                fontFamily: {
                    "display": ["Space Grotesk"]
                },
                borderRadius: { "DEFAULT": "0.25rem", "lg": "0.5rem", "xl": "0.75rem", "full": "9999px" },
            },
        },
    }
</script>
{% endblock %}

<!-- Content of the page -->
{% block page_title %}Simulation Configuration{% endblock %}

{% block page_description %}
Select how you would like to proceed with the simulation setup.
You can load existing data or define a completely new simulation environment.
{% endblock %}

<!-- Option 1 -->
{% block option1_url %}{{url_for('upload_sim')}}{% endblock %}
{% block option1_icon %}
<span class="material-symbols-outlined text-4xl text-slate-600 dark:text-slate-300 group-hover:text-primary">upload_file</span>
{% endblock %}
{% block option1_title %}Load data{% endblock %}

<!-- Option 2 -->
{% block option2_url %}{{url_for('new_sim')}}{% endblock %}
{% block option2_icon %}
<span class="material-symbols-outlined text-4xl text-slate-600 dark:text-slate-300 group-hover:text-primary">add_circle</span>
{% endblock %}
{% block option2_title %}New simulation{% endblock %}